.horizontal-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.tile {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 10px;
  width: 200px;
}
.imageStyle {
  width: 100%;
}
.infoRow {
  display: flex;
  flex-direction: row;
}
.infoTemp {
  flex-grow: 1;
}
.infoText {
  flex-grow: 1;
  text-align: right;
  margin-right: 4px;
}

.tile:hover .remove-button {
  visibility: visible;
}

.remove-button {
  visibility: hidden;
  border-radius: 5px;
}
.inputAndSubmit {
  margin-top: 20px;
}
.inputstyle {
  border-radius: 5px;
  height: auto;
}
.buttonstyle {
  margin-top: -6px;
}
